* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  position: relative;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
}

section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  overflow-y: auto;
}

section main {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

section main img {
  width: 100px;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: 0 0 5px white;
}

section main h2 {
  color: white;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}

section main a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 2px solid whitesmoke;
  background-color: whitesmoke;
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  gap: 20px;
  transition: 0.3s;
  font-weight: 500px;
}

section main a:hover {
  background-color: black;
  border: 2px solid black;
  color: red;
}

section footer p {
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid black;
  background-color: black;
  font-size: 1em;
  padding: 20px;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  gap: 20px;
}

section footer p a {
  color: red;
  font-weight: 700px;
  text-decoration: none;
}

ul {
  list-style: none; /* Menghilangkan bullet point default */
  padding: 0; /* Menghilangkan padding default pada ul */
  margin: 0;
  width: 100%; /* Menghilangkan margin default pada ul */
}

li {
  display: flex; /* Menggunakan flexbox untuk mengatur elemen di dalamnya */
  align-items: center; /* Membuat item di dalam li sejajar vertikal di tengah */
  margin-bottom: 10px; /* Memberikan jarak antar item list */
}

li span:first-child {
  /* Gaya untuk ikon (span pertama) */
  margin-right: 10px; /* Memberikan jarak antara ikon dan teks */
  display: inline-flex; /* Agar bisa menggunakan align-items pada ikon jika perlu */
  justify-content: center;
  /* Anda mungkin perlu mengatur width dan height jika ikonnya SVG atau gambar */
}
